footer {
    width: 100%;
    display: flex;
    height: 50px;
    background: linear-gradient(106deg, #808ce6 0%, #7382d1 6%, #7381e3 12%, #5162dc 45%, #4052d9 68%, #4052d9 100%);
}

footer img {
    max-height: 95%;
    margin: auto 0;
    padding-left: 2rem;
}