* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.cabecalho__titulo{
    margin: .5rem auto;
}

body {
    background-color: #f6f8fc;
    max-width: 100vw;
}

.content {
    width: 100vw;
    padding: 1rem;
    background-color: #FAFAFA;
}


@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}